@model GuitarOrderViewModel

@{
    ViewData["Title"] = "Guitars";
}
<h2 class="p-2">Guitars</h2>
<table class="table table-striped mt-2">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Type</th>
        <th>Model</th>
        <th>Cost</th>
        <th>Quantity</th>
        <th>Buy Now</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var guitar in Model.Guitars)
    {
        <tr>
            <td>@guitar.Brand</td>
            <td>@guitar.Type</td>
            <td>@guitar.Model</td>
            <td>@guitar.List</td>
            <td>@guitar.Quantity</td>
        </tr>
    }
    </tbody>
</table>
<hr />
